<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>DH Sports</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>   

    <img class="banner" width="100%" src="images/banner.jpg">

    <div class="categorias">
        <div class="start-icon"><i class="fa-solid fa-futbol fa-border fa-2xl"></i></div>
        <div class="start-icon"><i class="fa-solid fa-basketball fa-border fa-2xl" style="color:#F29544;"></i></div>
        <div class="start-icon"><i class="fa-solid fa-football fa-border fa-2xl" style="color:#A6695B;"></i></div>
        <div class="start-icon"><i class="fa-solid fa-baseball fa-border fa-2xl" style="color:#ABD904"></i></div>
    </div>

    <main>

        <h2 class="titulo">Popular</h2>
        <button type="submit" class="ver-todo"><a href="./products" style="color: black;">Ver todo</a>  <i class="fa-solid fa-arrow-right"></i></button>
        <div class="articulos">
            <% products.forEach(product => {  %> 
            <a href="./products/detail/<%= product.id %>">
                <div class="contenedor-art">
                    <img width="250px" height="290px" src="images/<%= product.image1 %>">
                    <p class="nombre-art"><%= product.name %></p>
                    <div class="descrip-art">
                        <div class="precio">$<%= product.price %></div>
                        <% if (product.discount > 0) { %> 
                            <div class="descuento"><%= product.discount %>% OFF</div>
                        <% } %>                         
                        <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                    </div>
                </div>
            </a>
            <% }) %>         
        </div>
            
        <h2 class="titulo">Visto recientemente</h2>
        <button type="submit" class="ver-todo"><a href="./products" style="color: black;">Ver todo</a>  <i class="fa-solid fa-arrow-right"></i></button>
        <div class="articulos">
            <% products.filter(product => product.estado == "visto").forEach(product => { %> 
                <a href="./products/detail/<%= product.id %>">    
                    <div class="contenedor-art">
                        <img width="250px" height="290px" src="images/<%= product.image1 %> ">
                            <p class="nombre-art"><%= product.name %></p>
                        <div class="descrip-art">
                            <p class="precio"><%= product.price %> </p>
                            <% if (product.discount > 0) { %> 
                                <div class="descuento"><%= product.discount %>% OFF</div>
                            <% } %>
                            <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                        </div>
                    </div>
                </a>
            <% }) %>        
        </div>
        
        <h2 class="titulo">Novedades</h2>
        <button type="submit" class="ver-todo"><a href="./products" style="color: black;">Ver todo</a>  <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">
            <% products.forEach(product => { %>
                <a href="./products/detail/<%= product.id %>">
                    <div class="contenedor-art">
                        <img width="250px" height="290px" src="images/<%= product.image1 %>">
                            <p class="nombre-art"><%= product.name %></p>
                        <div class="descrip-art">
                            <p class="precio"><%= product.price %></p>
                            <% if (product.discount > 0) { %> 
                                <div class="descuento"><%= product.discount %>% OFF</div>
                            <% } %> 
                            <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                        </div>
                    </div>
                </a>
            <% }) %> 
        </div>  

        <h2 class="titulo">Ofertas</h2>
        <button type="submit" class="ver-todo"><a href="./products" style="color: black;">Ver todo</a>  <i class="fa-solid fa-arrow-right"></i></button>

        <div class="articulos">
            <% products.filter(product => product.discount > 0).forEach(product => { %>
                <a href="./products/detail/<%= product.id %>">
                    <div class="contenedor-art">
                        <img width="250px" height="290px" src="images/<%= product.image1 %>">
                            <p class="nombre-art"><%= product.name %></p>
                        <div class="descrip-art">
                            <p class="precio"><%= product.price %></p>
                            <% if (product.discount > 0) { %> 
                                <div class="descuento"><%= product.discount %>% OFF</div>
                            <% } %> 
                            <span style="color:#F24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                        </div>
                    </div>
                </a>
            <% }) %> 
        </div>  

    </main>


    <footer class="footer">
        <%- include('./partials/footer') %> 
    </footer>
</body>
</html>