<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Editor Producto</title>
    <link rel="stylesheet" href="/css/editorProducto.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <form action="/products/<%= product.id %>/delete" method="post">
            <button type="submit">Eliminar producto</button>
            <a href="/products/<%= product.id %>/edit">Volver<a>
        </form>
    </main>
    <footer class="footer">
        <%- include('../partials/footer') %>
    </footer> 
</body>
</html>