<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Editor Producto</title>
    <link rel="stylesheet" href="/css/editorProducto.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>¿Deseas eliminar el producto?</h1>
        <form action="/products/<%= product.id %>/delete" method="post">
            
            <div><img width='250px' src="/images/products/<%= product.imagen %>"></div>

            <div class="botones-padre">
                <button type="submit" class='boton-reset2a'>Eliminar <i class="fa-solid fa-trash"></i></button>
                <a href="/products/<%= product.id %>/edit"><div class="volver">Volver <i class="fa-solid fa-rotate-left"></i></div></a>
            </div>
        </form>
    </main>
    <footer class="footer">
        <%- include('../partials/footer') %>
    </footer> 
</body>
</html>