<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Editor Producto</title>
    <link rel="stylesheet" href="../css/editorProducto.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <form action="/products/productEdit/<%= producto.id %>" method="POST" enctype="multipart/form-data" class="form-container">
            <div class="">
                <label for="">
                    <input type="text" name="name" placeholder="<%= producto.name%>" value="<%= producto.name %>" class="input-text name">
                    
                    <% if(locals.errors && errors.name){ %>
                        <div class="error">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                </label>
            </div>
            <div class="nombre">
                <textarea class="" rows="5" placeholder="<%=producto.description%>" name="description"><%=producto.description%></textarea>
                <div class="errorDescripcion validacionesFront"></div>
                <% if(locals.errors && errors.description){ %>
                    <div class="error">
                        <%= errors.description.msg %> 
                    </div>
                <% } %>
                <div class="">
                    <label for="discount" class="">Descuento</label>
                    <select name="discount" id="discount" class="form-text">
                        <option value="0" selected >Sin descuento</option>
                        <% for (let i = 0; i < 17; i++) { %>
                            <% let desc = i * 5 %> 
                            <option value="<%= desc %>"><%= desc %>% </option>
                        <% } %>
                    </select>    
                </div>
                <div class="">
                    <label for="categoria" class="">Categoria:</label>
                    <select name="category" id="categoria" class="form-text" >
                        <option value="" disabled>Selec Categoria</option>
                        <% for(let i=0; i < category.length; i++){%>
                           <% if(category[i].id == producto.categoryId){ %> 
                         <option value="<%= category[i].id %>" selected><%= category[i].category %></option>
                           <% } else { %>
                             <option value="<%= category[i].id %> "><%= category[i].category %> </option>
                             
                           <%  } %>
                        <% }  %>
                        <option value="otro">Otro</option>
                    </select>    
                </div>
                <div class="">
                    <label for="sport" class="">Deporte:</label>
                    <select name="sport" id="sport" class="form-text" >
                       <% for(let i=0; i < sport.length; i++){%>
                          <% if(sport[i].id == producto.sportId){ %> 
                        <option value="<%= sport[i].id %>" selected><%= sport[i].sport %></option>
                          <% } else { %>
                            <option value="<%= sport[i].id %> "><%= sport[i].sport %> </option>
                            
                          <%  } %>
                       <% }  %>    
                        <option value="otro">Otro</option>
                    </select>    
                </div>
                <div class="">
                    <label for="brand" class="">Marca:</label>
                    <select name="brand" id="brand" class="form-text" >
                       <% for(let i=0; i < brand.length; i++){%>
                          <% if(brand[i].id == producto.brandId){ %> 
                        <option value="<%= brand[i].id %>" selected><%= brand[i].brand %></option>
                          <% } else { %>
                            <option value="<%= brand[i].id %> "><%= brand[i].brand %> </option>
                            
                          <%  } %>
                       <% }  %>    
                        <option value="otro">Otro</option>
                    </select>    
                </div>
                <div class="">
                    <label for="genre" class="">Genero:</label>
                    <select name="genre" id="genre" class="form-text">
                        <option value="Hombre" >Hombre</option>
                        <option value="Mujer" >Mujer</option>
                        <option value="Ni単o" >Ni単o</option>
                        <option value="Ni単a" >Ni単a</option>
                    </select>    
                </div>
                <div class="">
                    <label for="size" class="">Talle:</label>
                    <select name="size" id="size" class="form-text">
                        <option value="" disabled >Talle</option>
                        <% for(let i=0; i < size.length; i++){%>
                            <% if(size[i].id == producto.sizeId){ %> 
                          <option value="<%= size[i].id %>" selected><%= size[i].size %></option>
                            <% } else { %>
                              <option value="<%= size[i].id %> "><%= size[i].size %> </option>
                              
                            <%  } %>
                         <% }  %> 
                        
                    </select>    
                </div> 
    
    
            <div>
                <label for="precio" class="">Precio:$</label>
                <input type="text" id="precio" name="price"   value="<%= producto.price %>"class="precio" >
            </div>
    
            <div class="">
                <input type="file" name="imagenProducto" class="" value="<%= producto.img %>">
                <div class="errorImage validacionesFront"></div>
                <% if(locals.errors && errors.imagenProducto){ %>
                    <div class="error">
                        <%= errors.imagenProducto.msg %> 
                    </div>
                <% } %>
            </div>
            <div>
                <button type="submit">Confirmar cambio</button>
            </div>
            <div>
                <button type="reset">Cancelar cambios</button>
            </div>
            <div>
                <form action="/" method="GET"></form>
                <button type="submit">Volver</button>
            </div>
    
        </form>
    </main>



    <footer class="footer">
        <%- include('../partials/footer') %>
    </footer> 
</body>
</html>