<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
        
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle de producto</title>
</head>
<body>
    <header>
        <!-- <%- include('../partials/header') %> -->
        <div class="nav-bar">
            <div class="logo"><a href="/"><img width="100px" src="/images/logo.jpeg"></a></div>
            <div class="burguer"><i class="fa-solid fa-bars" style="color:#FFF;"></i></div>
            <div class="contenedor-busqueda">
                <input type="text" name="busqueda" placeholder="Buscar" class="search-bar"><div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
                <div class="iconos">
                <a href="/productcart"><i class="fa-solid fa-cart-shopping" style="color:#FFF;"></i></a>
                <i class="fa-solid fa-heart" style="color:#FFF;"></i>
                <a href="/users/login"><i class="fa-solid fa-user-large" style="color:#FFF;"></i></a>
            </div>
        </div>
        <ol class="barra-cat">
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="#">Infantil</a></li>
            <li><a href="#">Deporte</a></li>
            <li><a href="#">Marca</a></li>
            <li><a href="#">Accesorios</a></li>
            
        </ol>
    </header>
    <main>    
        <div class="ruta-producto">
            <ul>
                <li><a href="/"><i>Inicio ></i></a></li>
                <li><a href="#"><i>Hombre ></i></a></li>
                <li><a href="#"><i>Indumentaria</i></a></li>
            </ul>
        </div>    
        <section class="articulo">
            <div class="container">
                 
                <ul class="slider">
                    <li id="slide1"><img width='250px' src="/images/<%= product.image %>" alt="Camiseta seleccion Argentina"></li>
                    <li id="slide2"><img width='250px' src="/images/<%= product.image %>" alt="Camiseta seleccion p/ atras"></li>
                    <li id="slide3"><img width='250px' src="/images/<%= product.image %>" alt="Camiseta seleccion messi"></li>
                    <li id="slide4"><img width='250px' src="/images/<%= product.image %>" alt="Camiseta seleccion equipo"></li>
                </ul>
                <ul class="menu-slider">
                    <li><a href="#slide1"><i class="fa-solid fa-circle-dot"></i></a></li>
                    <li><a href="#slide2"><i class="fa-solid fa-circle-dot"></i></a></li>
                    <li><a href="#slide3"><i class="fa-solid fa-circle-dot"></i></a></li>
                    <li><a href="#slide4"><i class="fa-solid fa-circle-dot"></i></a></li>
                </ul>
            </div>
        <section class="product-data">
            <div class="product-title">
                <h1 class="title"><b><%= product.name %> </b></h1>
            </div>
            <div id="price-tag">
                <span> $ <%= product.price %>  </span>
            </div>
            <div class="heart">
                <button type='submit' class="fav-button">
                    <a href="/favoritos"><i class="fa-solid fa-heart fa-2xl"></i></a>
                </button>
            </div>
            <details class="tabla-talles">
                <summary>Tabla de talles</summary>
                    <form action="#" method="post">
                        <label for="talle">XS<input type="radio" name="talle" value="XS"></label>
                        <label for="talle">S<input type="radio" name="talle" value="S"></label>
                        <label for="talle">M<input type="radio" name="talle" value="M"></label>
                        <label for="talle">L<input type="radio" name="talle" value="L"></label>
                        <label for="talle">XL<input type="radio" name="talle" value="XL"></label>
                    </form>
                    </details>
                        <div class="boton-añadir">
                            <button type="submit" class="añadir-button">
                                <b>AGREGAR AL CARRITO</b>
                                <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                            </button>
                        </div>        
                        <p class="sku">Id Producto: <%= product.id %></p>
                    </section>
                    <section class="description-container">
                            <details class="descripcion">
                                <summary><b>Descripcion</b></summary>
                                <h2><%= product.name %></h2>
                                <p><%= product.description %></p>
                            </details>
                            <details class="especificaciones">
                                <summary><b>Especificaciones</b></summary>
                                <div>
                                    <h3>Instrucciones de Lavado</h3>
                                    <ul>
                                        <li>No usar blanqueador.</li>
                                        <li>No utilizar secadora.</li>
                                        <li>No lavar en seco.</li>
                                        <li>Lavar a maquina en temperatura fria.</li>
                                        <li>Planchar a temperatura baja.</li>
                                    </ul>
                                </div>
                            </details>
                            <details class="detalles">
                                <summary><b>Detalles</b></summary>
                                <ul>
                                    <li>Corte ajustado</li>
                                    <li>Cuello redondo</li>
                                    <li>tejido de punto doble 100% poliester reciclado</li>
                                    <li>Tecnologia de absorcion <b>AEROREADY</b></li>
                                    <li>Paneles de malla en los costados</li>
                                    <li>Puños acanalados</li>
                                    <li>Dobladillo trasero alargado</li>
                                    <li>Escudo bordado de la Seleccion Argentina</li>
                                    <li>Color del articulo: White / Ligth Blue</li>
                                    <li>Numero de articulo: HB9217</li>
                                </ul>
                            </details>
                    </section>
        </section>
    </main>    
        <footer class="footer">
            <%- include('../partials/footer') %> 
        </footer>
</body>
</html>