<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">    
    <title>Todos los productos</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <img src="/images/banner.jpg" alt="banner" class="banner" width="100%">
    
    <div class="categorias">
        <div class="start-icon"><i class="fa-solid fa-futbol fa-border fa-2xl"></i></div>
        <div class="start-icon"><i class="fa-solid fa-basketball fa-border fa-2xl" style="color:#F29544;"></i></div>
        <div class="start-icon"><i class="fa-solid fa-football fa-border fa-2xl" style="color:#A6695B;"></i></div>
        <div class="start-icon"><i class="fa-solid fa-baseball fa-border fa-2xl" style="color:#ABD904"></i></div>
    </div>

    <main>
        <h2 class="titulo">Todos los productos</h2>
        <div class="articulos">
            <% products.forEach(product => { %>
                <a href="./products/detail/<%= product.id %>">
                    <div class="contenedor-art">
                        <img src="/images/<%= product.image1 %>" alt="Imagen de producto" width="250px" height="290px">
                        <p class="nombre-art"><%= product.name %></p>
                        <div class="descrip-art">
                            <div class="precio">$<%= product.price %></div>
                            <% if (product.discount > 0) { %> 
                            <div class="descuento"><%= product.discount %>% OFF</div>
                            <% } %> 
                            <span style="color: #f24968;"><i class="fa-regular fa-heart fa-2xl"></i></span>
                        </div>
                    </div>
                </a>
            <% }) %>     
        </div>
        
    </main>    
    <footer class="footer">
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>    